.container {
    position: relative;
    max-width: 960px;
    margin: 0 auto;
}


.data-value {
    margin-bottom: .5rem;
    color: #11DFC7;
}

.data-heading {
    margin-bottom: .3rem;
}

p {
    margin-top: 0;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.values {
    background-image: url(../images/values-bg.jpg);
    background-size: cover;
    color: #fff;
}

.section {
    text-align: center;
}