.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
}


.container {
    max-width: 860px;
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
     }
  }
  
  
  @media (min-width: 576px) {
  .container {
      max-width: 540px;
      }
  }  

body {
  margin: 0;
  font-family: var(--bs-font-sans-serif);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

form {
    display: block;
    margin-top: 0em;
}

.form-label {
  margin-bottom: .5rem;
}

label {
  display: inline-block;
}

.col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}

.col-md-5 {
  flex: 0 0 auto;
  width: 41.67%;
}

.col-md-4 {
  flex: 0 0 auto;
  width: 33.3%;
}

.col-md-3 {
  flex: 0 0 auto;
  width: 25%;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: .25rem;
}

.form-check {
  display: block;
  min-height: 1.5rem;
  padding-left: 1.5em;
  margin-bottom: .125rem;
}

.col-lg-8 {
  flex: 0 0 auto;
  width: 66.6666666667%;
}