body {
    padding: 0;
    margin: 0;
  }
  
  .clearfix {
    overflow: auto;
  }

.logo {
    padding-top: 50px;
    padding-left: 47%;
    height: 67px;
}

.text-center {
    text-align: center;
    font: 0.9em sans-serif;
}

h1 {
    font-size: 32px;
    font-weight: 550;
}

.content {
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
    opacity: 0.45;
}

.heading {
    font-family: sans-serif;
}

button {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
    font-size: large;
    padding: 15px 179px;
    border-radius: 10px;
}

button:hover {
    background-color: dodgerblue;
    color: white;
    cursor:pointer;
}

.heading .h3 {
    font-family: sans-serif;
}

table {
    font-family: sans-serif;
    border-collapse: collapse;
    width: 20%;
    position: relative;
}

td {
    border: 1px solid #dddddd;
    text-align:left;
    padding: 5px; 
}

h5 {
    font-family: sans-serif;
    padding: 2px;
    font-weight: 100;
}

.input> .final-entry {
    padding: 9px 8px;
}

.button-secondary {
    color: white;
    background-color: dimgray;
    padding: 6px 9px;
    border-color: dimgray;
}

.button-secondary:hover {
    color: white;
    background-color: dimgray;
}


a {
    color: #0d6efd;
    padding: 5px;
    font-family: sans-serif;
    font-size:initial;
}

.footer {
    color:dimgray;
    position: relative;
    bottom: 0;
    text-align: center;
    font-family: sans-serif;
}